
    
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    body{
      background-color:#dae2f8;
      font-family: 'Times New Roman', Times, serif;
      
    }
   .nav{
     width: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #dae2f8;
    }
    .nav ol > li {
      float: right;
      list-style: none;
    
    }
    
   .nav ol > li a {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .nav ol li a:hover{
      color: #4d0719;
      background-color: #EFEFBB;

    }
    
    .title{
      text-align: center;
      font-size: 30px;
      margin-left: 25px;
      margin-bottom: 50px;
      margin-top: 10px;
    }
       
   /* primer cuadro galeria(fotos pizza, noticias, ingrediente) */
  .galeria{
    background: #EFEFBB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
 }
 .galeria h2{
   margin-top: 10px;
   font-size: 22px;
   text-align: center;
 }
 
.contenedor-princ{
  display: flex;
  max-width: 70%;
  margin-top: 25px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  align-items: center;
}

.img-galery{
  width: 50%;
}
.img-galery img{
  width: 450px;
  height: 350px;
}
.img-galery img:hover{
  filter: saturate(180%);
}
.tablas{
  width: 50%;
  text-align: center;
}
.tablas:hover{
  background-color:  #EFEFBB;;
  color:black;
}

  .ing1 ul li{
   list-style: none;
 }
 .tablas h3{
   font-size: 20px;
   text-align: center;
   margin-bottom: 12px;

 }

  .noticias ul li{
   list-style: none;
 }
 .noticias a{
  text-decoration: none;
  color:cadetblue;
 }
 @media (max-width: 1220px){
   .contenedor-princ{
     width: 70%;
     display: flex;
     flex-direction: column;
   }
   .img-galery{
     width: 60%;
   }
 }

 @media (max-width: 995px){
   .contenedor-princ{
     text-align: center;
   }
   .img-galery{
    width: 70%;
   }
 }
 @media (max-width: 995px){
   .img-galery{
     width: 80%;
   }
  }
  @media (max-width: 665px){
    .img-galery{
      width: 100%;
    }
  }
  /*procedimiento para elaboracion */
  .contenedor{
    margin: auto;
      background-color: #dae2f8;
  }
 
    .procedimiento{
      width: 70%;
      max-width: 1,000px;
      margin: auto;
      background-color: #D4D3DD;
    }
    .procedimiento p{
      margin-right: 50px;
      line-height: 25px;
      text-align: justify;
    }
   .procedimiento img{
     float: left;
     width: 250px;
     height: 250px;
     margin-right: 10px;
     border-radius:50%;
     box-shadow: 0px 0px 15px 15px #ac7188;

}


/* video de elaboracion */
    #video{
      margin-top: 50px;
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
      background-color: #dae2f8;
    }
  /* galeria 2*/
    .galeriapas {
      display: flex;
      max-width: 100%;
      margin-top: 100px;
      margin-right: auto;
      margin-bottom: 100px;
      margin-left: auto;
      align-items: center;
      justify-content: center;
     }
      .galeriapas .imagenespas{
     width: 710px;
     padding: auto;
     margin-left: 80px;
     }
  
    .galeriapas .imagenespas img{
      width: 350px;
      margin: auto;
      padding: auto;
  
    }
    .galeriapas .imagenespas img:hover{
      filter: saturate(180%);
   }
   .container{
     width: 25%;
     margin-left: 5px;
   }
   .ingpas{
     background-color:  #EFEFBB;;
   }
   .ingpas ul li{
    text-align: justify;
    list-style: none;
   
   }
   .ingpas h4{
     text-align: center;
     margin-bottom: 5px;
     font-size: 20px;
   }
   .noticiaspas{
     background-color:  #EFEFBB;;
   }
   .noticiaspas ul li{
     list-style: none;
   }
  
  .noticiaspas a{
  text-align: justify;
  text-decoration: none;

 }
 .noticiaspas h5{
   text-align: center;
   margin-bottom: 5px;
   font-size: 20px;
 }
 @media (max-width: 1115px){
  .galeriapas{
    display: flex;
    flex-direction: column;
  }
 }
 @media (max-width: 780px){
  .imagenespas{
    width: 500px;

  }
 }
 @media (max-width: 650px){
  .imagenespas{
    width: 300px;

  }
 }

    /* final */
 footer {
  margin-top: 30px;
  background-color: #dae2f8;
  padding: 10px;
}
footer > span {
  margin-top: 1px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: black;
}
    

